*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#2c3e50;
}
.navigation{
    display: none;
}
.navbar{
    max-width: 1200px;
    color: white;
    
   
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    margin-right: 50px;

}

nav{
    display: flex;
}
.navigation{
    /* background-color: #2c3e50; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 0px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    transition: .5s ease;
   
    display: none;
   
    
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
    color: black;
    margin-top: 20px;
    margin-left: 40px;
    display: none
}
.icon1{
    position: absolute;
    right: 50px;
    top: 30px;
    display: none;
}
.icon2{
  position: absolute;
  top: 20px;
  right: 50px;
  display: none;
  color: black;
  
}
@media only screen and (max-width:576px){
    .navigation,.icon1{
        display: block;
        position: fixed;
        
    }
    .navigation{
        background-color: #ecf0f1;
    }
    
    
    
    .icon1{
        display: block;
        color: white;
    }
    .navigation ul li{
        display: block;
    }
    .navi{
        display: none;
    }
    .logo h2{
        margin-left: 20px;
    }
}